.blog-entry .img-2-wrapper{
    height:250px;
    overflow: hidden;
}
.blog-entry .img-2-wrapper .img-2 {
     height: 100%;
     width: 100%;
     background-position: center;
     background-size: cover;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
.blog-entry .img-2-wrapper:hover .img-2 {
-webkit-transform: scale(1.2);
-moz-transform: scale(1.2);
-o-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2); }

.categories .category-image-wrapper{
    height:140px;
    overflow: hidden;
}
.categories .category-image-wrapper a {
     height: 100%;
     width: 100%;
     background-position: center;
     background-size: cover;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
.categories .category-image-wrapper a:hover {
-webkit-transform: scale(1.2);
-moz-transform: scale(1.2);
-o-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2); }
