{% extends "layout.html" %} {% block page_not_found_css_section %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/page_not_found.css') }}"> {% endblock %} {% block page_not_found_main_content_section %}
<section>
    <div class="container">
        <div class="row">
            <div class="col ftco-animate">
                <div id="notfound">
                    <div class="notfound">
                        <div class="notfound-404 mb-3">
                            <h1>404</h1>
                        </div>
                        <h2>Oops! Nothing was found</h2>
                        <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
                        <p>Our team of highly skilled code chefs will get right to work!</p>
                        <a href="{{url_for('init')}}">Return to homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
