{% extends "layout.html" %}
{% block testing_block %}
<p>Flaticon</p>

<p>Icomoon</p>
<span class="icon-warning ml-4"></span>
<span class="icon-exit_to_app ml-4"></span>
<span class="icon-account_circle ml-4"></span>
<span class="icon-user ml-4"></span>
<span class="icon-check_circle ml-4"></span>
<span class="icon-home ml-4"></span>
<span class="icon-home2 ml-4"></span>
<span class="icon-user-circle ml-4"></span>
<span class="icon-cancel ml-4"></span>
<span class="icon-sign-out ml-4"></span>

<p>Ionicons</p>
<span class="ion-ios-close-circle-outline ml-4"></span>

{% endblock %}