{% extends "layout.html" %} 
{% block login_hero_wrap_section %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_4.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-3 bread">Sign In</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="{{url_for('init')}}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Sign In <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block login_form_section %}
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col heading-section ftco-animate">
                <h2 class="mb-4"><span>Sign In</span></h2>
                <form method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" id="user_username" name="username_input" aria-describedby="user_username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="user_password" name="password_input" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg">Sign In</button>
                </form>
                <div class="mt-2">
                    <span class="mr-2">New to Craft Cooking?</span>
                    <a href="/user_creation">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
    {{asd_error}}
</section>
{% endblock %}

{% block login_alert_section %}
{% if user_does_not_exist %}
<div class="container">
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="alert-heading"><strong>Unsuccessful Login!</strong></h4>
        <p>The username you have entered does not exist.</p> 
    </div>
</div>
{% elif incorrect_password %}
<div class="container">
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="alert-heading"><strong>Unsuccessful Login!</strong></h4>
        <p>Incorrect Password</p> 
    </div>
</div>
{% endif %}
{% endblock %}

{% block update_user_profile_alert_section %}
{% if no_change_required %}
<div class="container">
    <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="alert-heading"><strong>Profile Update Unsuccessful!</strong></h4>
        <p>No change required.</p> 
    </div>
</div>
{% elif password_changed %}
<div class="container">
    <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="alert-heading"><strong>Profile Update Successful!</strong></h4>
        <p>Password Changed.</p> 
    </div>
</div>
{% elif email_changed %}
<div class="container">
    <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="alert-heading"><strong>Profile Update Successful!</strong></h4>
        <p>Email Changed.</p> 
    </div>
</div>
{% endif %}
{% endblock %}

{% block jquery_script_section %}
<script>
/* global $ */
    $(function(){
        $(".navbar-nav li").removeClass("active");
        $("#log_in_nav_item").addClass("active");
    });
</script>
{% endblock %}
