{% extends "layout.html" %} {% block recipe_creator_hero_wrap_section %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_4.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-3 bread">Recipes</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="{{url_for('init')}}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Recipes <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>
{% endblock %} {% block recipe_creator_section %}
<section class="ftco-section">
    <div class="container">
        <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-my_recipes-tab" data-toggle="pill" href="#pills-my_recipes" role="tab" aria-controls="pills-my_recipes" aria-selected="true">My Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-recipe_creator-tab" data-toggle="pill" href="#pills-recipe_creator" role="tab" aria-controls="pills-recipe_creator" aria-selected="false">Recipe Creator</a>
            </li>
            <!--<li class="nav-item">-->
            <!--    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>-->
            <!--</li>-->
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-my_recipes" role="tabpanel" aria-labelledby="pills-my_recipes-tab">
                <div class="container">
                    <div class="row">
                        <div class="col heading-section ftco-animate">
                            <h2 class="mb-4"><span>My Recipes</span></h2>
                            <section class="ftco-section ftco-animate">
                                <div class="container">
                                    <div class="card-columns">
                                        <div class="card">
                                            <img src="..." class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Card title 1</h5>
                                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <img src="..." class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Card title 2</h5>
                                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <img src="..." class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Card title 3</h5>
                                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <img src="..." class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Card title 4</h5>
                                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <img src="..." class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Card title 5</h5>
                                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <img src="..." class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Card title 6</h5>
                                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-recipe_creator" role="tabpanel" aria-labelledby="pills-recipe_creator-tab">
                <div class="container">
                    <div class="row">
                        <div class="col heading-section ftco-animate">
                            <h2 class="mb-4"><span>Recipe Creator</span></h2>
                            <section class="ftco-section ftco-animate">
                                <div class="container">
                                    <form method="POST">
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="recipe_title">Recipe Title</label>
                                                    <input type="text" class="form-control" name="recipe_title">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="prep_time">Total Preparation Time:</label>
                                                    <input type="text" class="form-control" name="prep_time">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="cook_time">Total Cooking Time:</label>
                                                    <input type="text" class="form-control" name="cook_time">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="ready_in_time">Ready in Time:</label>
                                                    <input type="text" class="form-control" name="ready_in_time">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="serve_selection_list">Serves:</label>
                                                    <select class="form-control" id="serve_selection_list" name="serves_number">
                                                      <option>1</option>
                                                      <option>2</option>
                                                      <option>3</option>
                                                      <option>4</option>
                                                      <option>5</option>
                                                      <option>6</option>
                                                      <option>7</option>
                                                      <option>8</option>
                                                      <option>9</option>
                                                      <option>10</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="recipe_procedure_text_area">Recipe Procedure: </label>
                                                    <textarea class="form-control" id="recipe_procedure_text_area" rows="5"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>-->
        </div>

    </div>
</section>
{% endblock %}
