{% extends "layout.html" %} {% block hero_wrap_section %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({{url_for('static',filename='images/recipe-bg.jpg')}});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-3 bread">Recipe List</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="{{url_for('init')}}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Recipe List <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>
{% endblock %} {% block recipe_list_section %}
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="sidebar-box px-md-5 mb-5">
                    <form class="search-form">
                        <div class="form-group">
                            <span class="icon icon-search"></span>
                            <input type="text" name="search" class="form-control" placeholder="Search for a recipe">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    {% for i in recipe_list %}
                    <div class="col-md-4 ftco-animate">
                        <div class="blog-entry">
                            <div class="img-2-wrapper">
                            <a href="{{ url_for('post', post_id='{}'.format(i.post_recipe_id)) }}" class="img-2" style="background-image:url({{recipe_picture_url~i.post_photo_uri}})"></a>
                            </div>
                            <div class="text pt-3">
                                <p class="meta d-flex"><span class="pr-3">{{i.post_number_of_views}} views</span><span class="ml-auto pl-3">{{i.post_date_published|formatdatetime('medium')}}</span></p>
                                <h3><a href="single.html">{{i.post_recipe_name |title}}</a></h3>
                                <div class="tagcloud">
                                    {% for j in i.cooking_styles %}
                                    <a href="#" class="tag-cloud-link">{{j.cooking_style_name}}</a>
                                    {% endfor %}
                                    {% for k in i.cuisines %}
                                    <a href="#" class="tag-cloud-link">{{k.cuisine_name}}</a>
                                    {% endfor %}
                                    {% for l in i.diet_health_types %}
                                    <a href="#" class="tag-cloud-link">{{l.diet_health_type_name}}</a>
                                    {% endfor %}
                                    {% for m in i.dish_types %}
                                    <a href="#" class="tag-cloud-link">{{m.dish_type_name}}</a>
                                    {% endfor %}
                                    {% for n in i.meal_types %}
                                    <a href="#" class="tag-cloud-link">{{n.meal_type_name}}</a>
                                    {% endfor %}
                                </div>
                                <p class="mb-0 mt-2"><a href="{{ url_for('post', post_id='{}'.format(i.post_recipe_id)) }}" class="btn btn-black py-2">Read More <span class="icon-arrow_forward ml-4"></span></a></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <ul>
                                <li><a href="#">&lt;</a></li>
                                <li class="active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="sidebar-wrap">
                    <div class="sidebar-box categories text-center ftco-animate pt-5">
                        <h2 class="heading mb-4">Top Categories</h2>
                        <ul class="category-image">
                          {% for i in top_categories %}
                          <li class="category-image-wrapper">
                              <a href="{{ url_for('single_category', category_id=i.category_id) }}" class="img d-flex align-items-center justify-content-center text-center" style="background-image: url({{ url_for('static', filename='images/{}'.format(i.category_uri)) }});">
                                  <div class="text">
                                      <h3>{{i.category_name|title}}</h3>
                                  </div>
                              </a>
                          </li>
                          {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %} {% block jquery_script_section %}
<script>
    /* global $ */
    $(function() {
        $(".navbar-nav li").removeClass("active");
        $("#recipes_nav_item").addClass("active");
    });
</script>
{% endblock %}
{% block page_specific_css_section %}
<style>
</style>
{% endblock %}
