{% extends "layout.html" %} {% block sign_up_hero_wrap_section %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({{url_for('static',filename='images/bg_3.jpg')}});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-3 bread">Sign Up</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="{{url_for('init')}}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Sign Up <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>
{% endblock %} {% block sign_up_form_section %}
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col heading-section ftco-animate">
                <h2 class="mb-4"><span>Sign Up</span></h2>
                <form id="signup_form" method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control form_input" id="user_email" name="email_input" placeholder="Email Address">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <input type="text" class="form-control form_input" id="user_username" name="username_input" aria-describedby="user_username" placeholder="Choose A Username">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <select class="form-control form_input" id="user_country" name="country_input">
                                    {% for i in country_list %}
                                    <option value="{{i.id}}">{{i.country_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col">
                          <div class="form-group">
                              <input type="password" class="form-control form_input" id="user_password_1" name="password_input_1" placeholder="Password">
                          </div>
                      </div>
                      <div class="col">
                          <div class="form-group">
                              <input type="password" class="form-control form_input" id="user_password_2" name="password_input_2" placeholder="Confirm Password">
                          </div>
                      </div>
                    </div>
                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
                    </div>
                    <div class="mt-2">
                        <span class="mr-2">Already have an account?</span>
                        <a href="/login">Sign In</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block jquery_script_section %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
    /* global $ */
    $(function() {
        $(".navbar-nav li").removeClass("active");
        $("#sign_up_nav_item").addClass("active");
        $("#signup_form").validate({
          rules:{
            email_input:{
              required:true,
              email:true
            },
            username_input:{
              required:true,
              minlength:10
            },
            country_input:,
            password_input_1:{
              required:true,
              minlength:10
            },
            password_input_2:{
              required:true,
              minlength:10,
              equalTo:"#password_input_1"
            }
          }
        })
    });
</script>
{% endblock %}
