{% from "comment_displaying_function.html" import comment_packaging_function %}
{% block page_specific_css_section %}
<style>
    .post_icon {
        font-size:2rem;
    }
    .comment-box-close-icon{
      font-size:x-large;
    }
    .comment-box-close-icon:hover{
      cursor: pointer;
    }
</style>
{% endblock %}
{% extends "layout.html" %} {% block hero_wrap_section %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({{recipe_picture_url~photo_uri}});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-3 bread">{{recipe_details.name|title}}</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="{{url_for('init')}}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>{{recipe_details.name|title}}<i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>
{% endblock %} {% block single_post_main_content_section %}
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 order-lg-last ftco-animate">
                <div class="row mt-2">
                    <blockquote class="blockquote text-center">
                        <h3 class="mb-0 font-weight-bold">{{recipe_details.description}}</h3>
                    </blockquote>
                </div>
                <div class="row my-4">
                    <div class="col-sm-12 col-md-6 text-center">
                        <span class="icon icon-hourglass-2 post_icon mb-4"></span>
                        <h5><strong>Preparation Time</strong></h5>
                        <p>{{recipe_time_details_list[0]}}</p>
                    </div>
                    <div class="col-sm-12 col-md-6 text-center">
                        <span class="icon icon-hourglass-2 post_icon mb-4"></span>
                        <h5><strong>Cooking Time</strong></h5>
                        <p>{{recipe_time_details_list[1]}}</p>
                    </div>
                    <div class="col-sm-12 col-md-6 text-center">
                        <span class="icon icon-hourglass-2 post_icon mb-4"></span>
                        <h5><strong>Ready In</strong></h5>
                        <p>{{recipe_time_details_list[2]}}</p>
                    </div>
                    <div class="col-sm-12 col-md-6 text-center">
                        <span class="icon icon-spoon post_icon mb-4"></span>
                        <h5><strong>Serves</strong></h5>
                        <p>{{recipe_details.serves}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h2 class="mb-3">Ingredients</h2>
                    </div>
                    <div class="col-12">
                        <ul>
                            {% for i in ingredient_details %}
                            {% if i.measurement_type == "no units" and i.extra_information == "None" %}
                            <li>{{i.ingredient_amount|title}} {{i.ingredient_name|title}}</li>
                            {% elif i.measurement_type == "no units" %}
                            <li>{{i.ingredient_amount|title}} {{i.ingredient_name|title}} ({{i.extra_information |title}})</li>
                            {% elif i.extra_information == "None" %}
                            <li>{{i.ingredient_amount|title}} {{i.measurement_type|title}} {{i.ingredient_name|title}}</li>
                            {% else %}
                            <li>{{i.ingredient_amount|title}} {{i.measurement_type|title}} {{i.ingredient_name|title}} ({{i.extra_information |title}})</li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <h2 class="mb-3 mt-5">Instructions</h2>
                    <div class="col-12">
                        <ol>
                            {% for j in recipe_procedure_list %}
                            <li>{{j}}.</li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h2 class="mb-3 mt-5">Allergens</h2>
                    </div>
                    <div class="col-12">
                        <ul>
                        {% for l in allergens %}
                        <li>{{l.allergen_name |title}}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="tag-widget post-tag-container mb-5 mt-5">
                            <div class="tagcloud">
                                {% for m in cooking_styles %}
                                <a href="#" class="tag-cloud-link">{{m.cooking_style_name}}</a>
                                {% endfor %}
                                {% for n in cuisines %}
                                <a href="#" class="tag-cloud-link">{{n.cuisine_name}}</a>
                                {% endfor %}
                                {% for o in diet_health_types %}
                                <a href="#" class="tag-cloud-link">{{o.diet_health_type_name}}</a>
                                {% endfor %}
                                {% for p in dish_types %}
                                <a href="#" class="tag-cloud-link">{{p.dish_type_name}}</a>
                                {% endfor %}
                                {% for q in meal_types %}
                                <a href="#" class="tag-cloud-link">{{q.meal_type_name}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="about-author d-flex p-4 bg-light">
                            <div class="bio mr-5" style="height:25%;width:25%;">
                                <img src="{{profile_picture_url~author_details.profile_picture_uri}}" alt="Image placeholder" class="img-fluid mb-4">
                            </div>
                            <div class="desc">
                                <h3>{{author_details.username}}</h3>
                                <p>{{author_details.bio}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-5 mt-5">
                  <div class="col-12">
                    <h3 class="mb-5">{{number_of_comments}} Comments</h3>
                    </div>
                    <div class="col-12">
                      {% if post_comments %}
                      <ul class="comment-list">
                      {{ comment_packaging_function(post_comments,user_is_sign_in) }}
                      <!-- END comment-list -->
                      </ul>
                      {% else %}
                      <p>No Comments Yet!</p>
                      {% endif %}
                      </div>
                </div>
                {% if user_is_sign_in %}
                <div class="row comment-form-wrap pt-5">
                  <div class="col">
                      <div class="row mb-2">
                          <div class="col text-center">
                            <h3 class="my-2">Leave a comment</h3>
                          </div>
                        </div>
                      <div class="row">
                          <form class="p-5 bg-light w-100" method="POST">
                              <div class="form-group">
                                  <label for="message">Comment</label>
                                  <textarea name="comment_input" id="comment" cols="30" rows="5" class="form-control"></textarea>
                                  <input type="hidden" class="parent_obj_type" name="parent_obj_type" value="post">
                              </div>
                              <div class="form-group">
                                <div class="col text-center">
                                  <input type="submit" value="Post Comment" class="w-50 btn py-3 px-4 btn-primary">
                                  </div>
                              </div>
                          </form>
                        </div>
                  </div>
                </div>
                {% else %}
                <div class="row comment-form-wrap pt-5">
                  <div class="col">
                    <div class="row mb-2">
                        <div class="col text-center">
                          <h3 class="my-2">Leave a comment</h3>
                        </div>
                      </div>
                    <div class="row">
                        <form class="p-5 bg-light w-100" method="POST">
                            <div class="form-group">
                                <label for="message">Comment</label>
                                <textarea name="comment_input" readonly class="form-control-plaintext" id="comment" cols="30" rows="5">Please sign in to leave a comment!</textarea>
                            </div>
                            <div class="form-group">
                              <div class="col text-center">
                                <input type="submit" value="Post Comment" class="w-50 btn py-3 px-4 btn-primary">
                              </div>
                            </div>
                        </form>
                      </div>
                    </div>
                </div>
                {% endif %}

            </div>
            <!-- .col-md-8 -->
            <div class="col-lg-4 sidebar pr-lg-5 ftco-animate  d-none">
                <div class="sidebar-box ftco-animate">
                    <ul class="categories">
                        <h3 class="heading mb-4">Categories</h3>
                        <li><a href="#">Travel <span>(12)</span></a></li>
                        <li><a href="#">Tour <span>(22)</span></a></li>
                        <li><a href="#">Destination <span>(37)</span></a></li>
                        <li><a href="#">Drinks <span>(42)</span></a></li>
                        <li><a href="#">Foods <span>(14)</span></a></li>
                        <li><a href="#">Travel <span>(140)</span></a></li>
                    </ul>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3 class="heading mb-4">Recent Blog</h3>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(images/image_1.jpg);"></a>
                        <div class="text">
                            <h3><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> February 12, 2019</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(images/image_2.jpg);"></a>
                        <div class="text">
                            <h3><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> February 12, 2019</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(images/image_3.jpg);"></a>
                        <div class="text">
                            <h3><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> February 12, 2019</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3 class="heading mb-4">Tag Cloud</h3>
                    <div class="tagcloud">
                        <a href="#" class="tag-cloud-link">dish</a>
                        <a href="#" class="tag-cloud-link">menu</a>
                        <a href="#" class="tag-cloud-link">food</a>
                        <a href="#" class="tag-cloud-link">sweet</a>
                        <a href="#" class="tag-cloud-link">tasty</a>
                        <a href="#" class="tag-cloud-link">delicious</a>
                        <a href="#" class="tag-cloud-link">desserts</a>
                        <a href="#" class="tag-cloud-link">drinks</a>
                    </div>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3 class="heading mb-4">Paragraph</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}
{% block jquery_script_section %}
<script>
$(function(){
  //Initalise the popovers//
  $('[data-toggle="popover"]').popover()

  //Each time a reply button is clicked, a new comment box will be appended to it//
  $(".comment-body").on("click",".reply_comment",function(e){
    e.preventDefault();
    if($(this).siblings(".comment-box").length == 0){
      $(this).parent().parent().append(`
      <div class="container comment-box">
      <form class="py-3 mt-2 bg-light w-100" method="POST">
          <div class="row form-group">
            <div class="col px-5 text-center">
              <label for="message">Comment</label>
              <i class="icon-close float-right comment-box-close-icon"></i>
              <textarea name="comment_input" class="form-control" id="comment" cols="30" rows="5"></textarea>
              <div class="valid-feedback">Looks Good!</div>
              <div class="invalid-feedback">Invalid comment. No special characters.</div>
              <input type="hidden" class="parent_comment_id" name="parent_comment_id">
              <input type="hidden" class="parent_obj_type" name="parent_obj_type">
              </div>
          </div>
          <div class="row form-group">
            <div class="col text-center">
              <input type="submit" value="Reply" class="btn p-2 w-25 reply comment_reply_button">
            </div>
          </div>
      </form>
      </div>
      `);
      $(this).hide();
    }
  });

  //When the cross icon is clicked, the comment box will be deleted//
  $(".comment-body").on("click",".comment-box-close-icon",function(e){
    e.preventDefault();
    $(this).parents(".comment-box").prev().find(".reply_comment").show();
    $(this).parents(".comment-box").remove();
  })

  //This function checks the input comment for special characters//
  function check_comments(input){
    let comment_regex = /^[a-zA-Z0-9-_,.$#/!+-=\[\]()%@]+$/;
    let element = input[0];
    input.parents(".form-group").removeClass("was-validated");
    if (comment_regex.test(element.value)!==true){
      element.setCustomValidity("Invalid comment. No special characters.");
    }
    else{
      element.setCustomValidity('');
    }
    input.parents(".form-group").addClass("was-validated");
  }

  //This function checks the validity of the comment everything the textbox is changed.//
  $(".comment-body").on("change","#comment",function(e){
    check_comments($(this));
  });

  //Each time the comment box's reply button is clicked, there will be client side checking for special characters inside the comments. If the comment is valid, then the JS will post the comment to Flask.//
  $(".comment-body").on("click",".comment_reply_button",function(e){
    e.preventDefault();
    let input = $(this).parents(".row").prev().find("#comment");
    let comment_has_custom_error = input[0].validity.customError;
    let comment_parent_object = $(this).parents(".comment-box").prev().find(".reply_comment")[0];
    let comment_parent_object_id = comment_parent_object.dataset.parentCommentId;
    let comment_parent_object_type = comment_parent_object.dataset.parentObjType;
    if(comment_has_custom_error == true){}
    else{
      //These hidden inputs are necessary so that flask will know the values of the comment parent object id and type.
      input.siblings(".parent_comment_id").val(comment_parent_object_id);
      input.siblings(".parent_obj_type").val(comment_parent_object_type);
      input.closest("form").submit();
    }
  });
});
</script>
{% endblock %}
