{% extends "layout.html" %} {% block user_dashboard_section %}
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="heading-section ftco-animate">
                <h2 class="mb-4"><span>User Dashboard</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <ul class="nav nav-tabs flex-column" id="user_dashboard_tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="recipe_list-tab" data-toggle="tab" href="#recipe_list" role="tab" aria-controls="recipe_list" aria-selected="false">My Recipes</a>
                    </li>
                </ul>
            </div>
            <div class="col-9">
                <div class="tab-content" id="user_dashboard_tab_content">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...1</div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <form method="POST">
                            <div class="form-group">
                                <input type="email" class="form-control" id="user_email" name="email_input" value="{{user_details.email}}">
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="text" class="form-control" readonly class="form-control-plaintext" id="user_username" aria-describedby="user_username" value="{{user_details.username}}">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="user_password" name="password_input" placeholder="New Password">
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2">
                                <button type="submit" class="btn btn-primary btn-lg">Update Profile</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="recipe_list" role="tabpanel" aria-labelledby="recipe_list-tab">
                        <div class="heading-section ftco-animate">
                            <h2 class="mb-4"><span>Recipe List</span></h2>
                        </div>
                        <ul class="list-group">
                            {% for i in user_recipe_list %}
                            <li class="list-group-item">{{i.name}}</li><a href="#">Edit</a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
