{% extends "layout.html" %}
{% block user_dashboard_hero_wrap_section %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({{url_for('static',filename='images/bg_4.jpg')}});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-3 bread">User Dashboard</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="{{url_for('init')}}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>User Dashboard<i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block user_dashboard_section %}
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="heading-section ftco-animate">
                <h2 class="mb-4 ml-4"><span>User Dashboard</span></h2>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-3">
                <ul class="nav nav-pills flex-column" id="user_dashboard-tab" role="tablist" aria-orientation="vertical">
                    <li class="nav-item">
                        <a class="nav-link active" id="user_dashboard-home-tab" data-toggle="tab" href="#user_dashboard-home" role="tab" aria-controls="user_dashboard-home" aria-selected="true">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="user_dashboard-profile-tab" data-toggle="tab" href="#user_dashboard-profile" role="tab" aria-controls="user_dashboard-profile" aria-selected="false">Update Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="user_dashboard-delete_account-tab" data-toggle="tab" href="#user_dashboard-delete_account" role="tab" aria-controls="user_dashboard-delete_account" aria-selected="false">Delete Account</a>
                    </li>
                </ul>
            </div>
            <div class="col-9">
                <div class="tab-content" id="user_dashboard-tabContent">
                    <div class="tab-pane fade show active" id="user_dashboard-home" role="tabpanel" aria-labelledby="user_dashboard-home-tab">
                        <div class="heading-section ftco-animate">
                            <h2 class="mb-4"><span>Profile</span></h2>
                        </div>
                        <div class="ftco-animate">
                            <div class="container">
                                <div class="row mb-3">
                                    <div class="col-4">
                                        <img src="{{ url_for('profile_picture', filename='{}'.format(user_details.profile_picture_uri)) }}" class="img-thumbnail"></img>
                                    </div>
                                    <div class="col-8">
                                        <div class="row">
                                            <div class="col">
                                                {{user_details.username}}
                                            </div>
                                            <div class="col">
                                                {{user_details.country_name}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{user_details.email}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {% if user_details.user_to_author_date %}
                                                <p>Author Since: <span>{{user_details.user_to_author_date}}</span></p>
                                                {% else %}
                                                <a href="{{ url_for('become_an_author', user_id=user_details.id) }}" class="btn btn-primary btn-lg">Become an author</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h3 class="">Bio</h3>
                                        <blockquote class="blockquote">
                                            <p class="mb-0">{{user_details.bio}}</p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="user_dashboard-profile" role="tabpanel" aria-labelledby="user_dashboard-profile-tab">
                        <div class="heading-section ftco-animate">
                            <h2 class="mb-4"><span>Update Profile</span></h2>
                        </div>
                        <div class="ftco-animate">
                            <form method="POST" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-4 text-center">
                                        <div class="row mb-2">
                                            <div class="col">
                                                <img src="{{ url_for('profile_picture', filename='{}'.format(user_details.profile_picture_uri)) }}" class="img-thumbnail"></img>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col">
                                                <label class="btn btn-primary btn-rounded"><input type="file" name="profile-picture-input"/><i class="icon icon-cloud_upload"></i>New Picture</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="form-row">
                                            <div class="form-group col">
                                                <input type="text" class="form-control" readonly class="form-control-plaintext" id="user_username" aria-describedby="user_username" value="{{user_details.username}}">
                                            </div>
                                            <div class="form-group col">
                                                <input type="text" class="form-control" readonly class="form-control-plaintext" id="user_country" aria-describedby="user_country" value="{{user_details.country_name}}">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col">
                                                <input type="email" class="form-control" id="user_email" name="email_input" value="{{user_details.email}}">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-7">
                                                <input type="password" class="form-control" id="user_password" name="password_input" placeholder="New Password">
                                            </div>
                                            <div class="form-group col-5">
                                                {% if user_details.user_to_author_date %}
                                                <p>Author Since: <span>{{user_details.user_to_author_date}}</span></p>
                                                {% else %}
                                                <a href="{{ url_for('become_an_author', user_id=user_details.id) }}" class="btn btn-primary btn-lg">Become an author</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <h3 class="">Bio</h3>
                                        <textarea class="form-control" id="bio-text-area" value="text area" name="bio_input" rows="5">{{user_details.bio}}</textarea>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <button type="submit" class="btn btn-primary btn-lg">Update Profile</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="user_dashboard-delete_account" role="tabpanel" aria-labelledby="user_dashboard-delete_account-tab">
                        <div class="heading-section ftco-animate">
                            <h2 class="mb-4"><span>Delete Account</span></h2>
                        </div>
                        <div class="ftco-animate">
                            <div class="container">
                                <div class="row my-2">
                                    <div class="col p-0">
                                        <h2><span class="badge badge-warning w-100">Danger Zone</span></h2>
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-12 col-md-8">
                                        <div class="row">
                                            <h4 class="font-weight-bold">Delete this Account</h4>
                                        </div>
                                        <div class="row">
                                            <p>All the recipes you wrote will also be delete with the account!</p>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 text-center my-auto pr-0 px-md-3">
                                        <span class="mb-0"><button type="button" class="btn btn-danger w-100" data-delete-button-user-id="{{user_details.id}}" data-toggle="modal" data-target="#confirm_recipe_deletion_modal">Delete Account</button></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %} 
{% block page_specific_css_section %} 
<style>
    input[type="file"] {
    display: none;
    }
    .icon-wrap i{
        color: #f15e5e;
		font-size: 6rem;
    }
    .modal-delete{
        top:15%;
    }
    .modal-delete .modal-header{
        border:none;
    }
    .modal-delete .modal-footer{
        border:none;
    }
</style>
{% endblock %}
{% block confirm_delete_modal_section %}
<div class="modal fade" id="confirm_recipe_deletion_modal" tabindex="-1" role="dialog" aria-labelledby="confirm_recipe_deletion_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-delete" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row my-2">
                        <div class="col text-center icon-wrap">
                            <i class="ion-ios-close-circle-outline"></i>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col text-center">
                            <h3 class="modal-title" id="confirm_recipe_deletion_modal_label">Are you sure?</h3>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col text-center">
                            <p>Do you want to delete your account.<br/>This process cannot be undone.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer mb-3">
                <div class="container">
                    <div class="row">
                        <div class="col text-right">
                            <button type="button" class="btn btn-secondary w-75" data-dismiss="modal">Close</button>
                        </div>
                        <div class="col text-left">
                            <a href="#" class="btn btn-danger w-75" id="delete-modal-delete-link">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block jquery_script_section %}
<script>
    /* global $ */
    $(function() {
        $("#confirm_recipe_deletion_modal").on("show.bs.modal",function(event){
           let button = $(event.relatedTarget);
           let user_id = parseInt(button.data("delete-button-user-id"), 10);
           let modal = $(this);
           let delete_link = "/delete-user/"+user_id;
           modal.find("#delete-modal-delete-link").attr("href",delete_link);
        });
    });
</script>
{% endblock %} 